extends ./base.jade
include ./include/utils.jade

block vars
   - var pageTitle = "Team 4618 - Team Entry"
   - var navTitle = "Team Entry"
   - var navColor = "red"
   - var backgroundurl = "/assets/general_background.png"
   - var event_data = {}
      
block content
   #scout.block
      p(style="font-size: 2em; margin-top: 0px; margin-bottom: 5px;") Scouting DB
      p Team ID: #[input(type="text", id="team_box", autocomplete="off")]
      button(id="scout_search_button") Search
   if teamid
      if team_data
         p(align="center", style="font-size: 2em")= teamid
         each entry_element in entry_template
            .block
               p(align="center")= entry_element.name
               if (entry_element.type == "Number") || (entry_element.type == "Boolean")
                  div(id=entry_element.name.replace(" ", "_"), style="width: 600px;height: 300px;background-color: white;margin: 5px")
               else if entry_element.type == "String"
                  each data_entry in team_data
                     div(style="border: white solid thin")
                        span= "Match " + data_entry["match_number"]
                        br
                        span= "By: " + data_entry["name"]
                        br
                        p= data_entry[entry_element.name]
      else
         p= "No Data For This Team"
   else
      if team_list.length > 0
         each team_name in team_list
            a(href="team_entry" + team_name)= team_name
      else
         p(align="center", style="font-size: 2em")= "No Team Data Yet ¯\_(ツ)_/¯"
      
block script
   mixin scoutSearchScript("scout_search_button", "team_box")
   if teamid
      each entry_element in entry_template
         if (entry_element.type == "Number") || (entry_element.type == "Boolean")
            script.
               $(document).ready(function()
               {
                  var team_data = !{JSON.stringify(team_data)};
                  
                  if(#{entry_element.type == "Number"})
                  {
                     var plot_points = [];
                     for(var i = 0;
                         i < team_data.length;
                         i++)
                     {
                        plot_points.push([team_data[i].match_number, parseInt(team_data[i]["#{entry_element.name}"])]);
                     }
                     $.plot("#" + "#{entry_element.name.replace(" ", "_")}", [plot_points]);
                  }
                  else if(#{entry_element.type == "Boolean"})
                  {
                     var true_count = 0;
                     var false_count = 0;
                     for(var i = 0;
                         i < team_data.length;
                         i++)
                     {
                        if(team_data[i]["#{entry_element.name}"] == true)
                        {
                           true_count++;
                        }
                        else
                        {
                           false_count++;
                        }
                     }
                     $.plot("#" + "#{entry_element.name.replace(" ", "_")}",
                            [{label: "True", data: true_count, color: "#00FF00"},
                             {label: "False", data: false_count, color: "#FF0000"}], 
                            {series: {pie: { show: true }}});
                  }
               });
         

   