doctype html
html(lang="en")
   block vars
   head
      title= pageTitle
      block style
      style.
         body {
            margin: 0;
            background-image: url(#{backgroundurl});
            background-size: cover;
         }
         p {
            font-family: "Arial", "Helvectia", sans-serif;
            font-size: 14px;
            color: white;
         }
         span {
            font-family: "Arial", "Helvectia", sans-serif;
            font-size: 14px;
            color: white;
         }
         #home_link {
            background: none;
            border: none;
            color: white;
            font-family: "Arial", "Helvectia", sans-serif;
            font-size: 24px;
            outline: none;
         }
         #nav_title {
            font-family: "Arial", "Helvectia", sans-serif;
            font-size: 24px;
         }
         #nav_name {
            margin-left: 20px;
            text-decoration: underline;
            font-size: 18px;
         }
         #nav_bar {
            width: 100%;
            height: 50px;
            background-color: #{navColor};
            color: rgb(128, 255, 128);
            font-family: "Arial", "Helvectia", sans-serif;
            font-size: 14px;
            padding-top: 15px;
         }
         .portal_button {
            background: none;
            border: none;
            color: white;
            font-family: "Arial", "Helvectia", sans-serif;
            font-size: 18px;
            outline: none;
         }
         #portal_bar {
            width: 100%;
            background-color: #{navColor};
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 15px;
         }
         .horizontal_bar {
            width: 100%;
            background-color: #{navColor};
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
            margin-top: 15px;
         }
         button {
            background: #{navColor};
            border: solid white;
            color: white;
            font-family: "Arial", "Helvectia", sans-serif;
            outline: solid black thin;
         }
         #logout_button {
            margin-left: 25px;
            margin-top: 5px;
            position: absolute;
         }
   body
      #nav_bar
         span(id="nav_text") #[button(id="home_link") Team 4618] - #[span(id="nav_title")= navTitle] 
         if loggedIn
            |#[span(id="nav_name")= username] #[button(id="logout_button") Logout]
      if navPortals
         #portal_bar
            each portal in navPortals
               button(id="portal_" + portal, class="portal_button")= portal
      block content
      script(src="https://cdn.socket.io/socket.io-1.2.0.js")
      script(src="http://code.jquery.com/jquery-1.11.1.js")
      script(src="/assets/js.cookie.js")
      block script
      script.
         var socket = io();
      
         $(document).ready(function()
         {
            #{nav_portal_events}
         
            socket.on('reload', function(msg)
            {
               console.log("reload");
               if(msg)
               {
                  if(msg.location !== undefined)
                     window.location.href = msg.location;
               }
               
               window.location.reload();
            });
         
            socket.on('set_cookie', function(msg)
            {
               Cookies.set(msg.name, msg.value);
            });
         
            socket.on('clear_cookie', function(msg)
            {
               Cookies.remove(msg);
            });
         
            $('#home_link').bind("click", function()
            {
               window.location.href = "/";
            });
            
            $('#logout_button').bind('click', function()
            {
               socket.emit("logout");
            });
         });