extends ./base.jade

block vars
   - var pageTitle = "Team 4618 - Scouting"
   - var navTitle = "Scouting"
   - var navColor = "red"
   - var backgroundurl = "/assets/general_background.png"
      
block content
   #search_div.horizontal_bar
      span Search: 
      input(id="search_box" autocomplete="off")
      button(id="search_button") Search
   if teamid
      #bluealliancedata_block
         if bluealliancedata
            p Team #{teamid}
            each tag in bluealliancedata
               p= tag
         else
            p No data available for Team #{teamid}
      if loggedIn
         #submitteddata_block
            if submitted
               each post in submitted
                  .block
                     p By #{post.user} 
                     p= post.value
         .block
            p Scouting info
            textarea(rows="4", cols="25" id="scout_box", class="consttextarea")
            br
            button(id="submit_scout_button") Submit
   else
      p Search for a team
block script
   if loggedIn && teamid
      script.
         function enterHook(e)
         {
            if(e.keyCode == 13)
            {
               $(this).trigger("enterKey");
            }
         }
      
         function submitScoutData()
         {
            var scout_data =
            {
               team: "#{teamid}",
               value: $('#scout_box').val()
            };
            socket.emit('submit_scout_data', scout_data);
            $('#scout_box').val('');
         }
      
         $(document).ready(function()
         {
            $('#scout_box').keyup(enterHook);
            
            $('#submit_scout_button').on('click', submitScoutData);
            //$('#scout_box').on('enterKey', submitScoutData);
         });
   if teamid
      script.
         $(document).ready(function()
         {
            socket.emit('request_scout_data', #{teamid});
         
            socket.on('recive_scout_data', function(msg)
            {
               updateDiv("bluealliancedata_block", msg.value);
            });
         });
   script.
      $(document).ready(function()
      {
         $('#search_button').bind("click", function()
         {
            var team = parseInt($('#search_box').val());
            
            if(!isNaN(team))
            {
               window.location.href = ("/scout " + team);   
               $('#search_box').val('');
            }
            else
            {
               $('#search_box').val("Invalid Team Number!");
            }
         });
      });